<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Course List</h2>
  </div>
  <div class="panel-body">
    <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

    <thead>
          <tr>
            <th>id <i class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>courseName <i class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>courseType <i class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>credit <i class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>studentCount <i class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>managementCount <i class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>details</th>
            <th>delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.id }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.courseType }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.studentCount }}</td>
            <td>{{ course.managementCount }}</td>
            <td><button type="button" class="btn btn-primary" (click)="loadById(course.id)">details</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteById(course.id)">delete</button></td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary mt-2" (click)="addCourse()">add</button>
      </div>
</div>
